*,
::after,
::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.container {
    max-width: 1170px;
    width: 90%;
    margin: 0 auto;

    @include media ($width3) {
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
    }
}