$col_black: #000000;
$col_white: #FFFFFF;
$col_gray: #E0E0E0;
$col_gray2: #4F4F4F;
$col_gray3: rgba(224, 224, 224, 0.5);

$font1: 'Delius Unicase';
$font2: 'Roboto';

$width1: 1320px;
$width2: 1160px;
$width3: 970px;
$width4: 740px;
$width5: 420px;
$width6: 340px;