*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .5s ease-in;
}

:root {
    --menu-col: #000000;
    --main-col-black: #000000;
    --main-col-grey500: #7B7B7B;
    --main-col-grey700: #565656;
    --main-col-white: #FFFFFF;
    --footer-bg: #F4F4F4;
    --footer-col-black: #000000;
    --footer-col-grey: #565656;
}

.container {
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
}

.header {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
}

.header__logo {
    margin-right: 36%;
}

.header__menu {
    display: inline-flex;
    justify-content: space-between;
    list-style: none;
}

.menu__item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.menu__item a {
    text-decoration: none;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: var(--menu-col);
    margin-right: 42px;
}

.menu__item--hov {
    width: 70%;
    margin-top: 5px;
    height: 1px;
    opacity: 0;
}

.menu__item:hover .menu__item--hov {
    opacity: 1;
}

.sect__first {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.sect__first__img {
    width: 100%;
}

.sect__second {
    margin-top: 90px;
    margin-bottom: 90px;
}

.sect__h2 {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.05em;
    color: var(--main-col-black);
    margin-bottom: 50px;
}

.arrow {
    margin-left: 20px;
    color: var(--main-col-grey500);
}

.article a {
    text-decoration: none;
}

.article {
    margin-bottom: 50px;
}

.article__block {
    display: flex;
    width: 100%;
    align-items: center;
}

.article__block--display {
    justify-content: flex-end;
}

.article__img {
    display: flex;
    max-width: 49%;

}

.article__img img {
    width: 100%;
}


.article__text {
    display: flex;
    flex-direction: column;
    max-width: 49%;
    margin-bottom: 10px;
    margin-left: 30px;
}

.text__width {
    max-width: 450px;
}

.text__top {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 166%;
    letter-spacing: 0.1em;
    color: var(--main-col-grey500);
}

.text__header {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 166%;
    letter-spacing: 0.1em;
    color: var(--main-col-black);
    margin-top: 30px;
    margin-bottom: 15px;
}

.text__date {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 166%;
    letter-spacing: 0.1em;
    color: var(--main-col-grey500);
    margin-bottom: 50px;
}

.text__bottom {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 166%;
    letter-spacing: 0.05em;
    color: var(--main-col-grey700);
}

.article__text--margin {
    margin-right: 30px;
    margin-left: 0px;
}

.sect__third {
    margin-bottom: 86px;
}

.sect__header {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
}

.sect__header a {
    text-decoration: none;
}

.sect__h4 {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 166%;
    letter-spacing: 0.1em;
    color: var(--main-col-black);
}

.sect__link {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 166%;
    letter-spacing: 0.1em;
    color: var(--main-col-grey500);
}

.sect__articles {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.sect__articles a {
    text-decoration: none;
}

.articles {
    max-width: 31%;
}

.articles__width--margin {
    margin-right: 30px;
}

.articles--margin {
    margin: 0 30px;
}

.articles__img {
    display: flex;
}

.articles__img img {
    max-width: 100%;
}

.articles__top {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 166%;
    letter-spacing: 0.1em;
    color: var(--main-col-grey500);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 26px;
}

.text__header--art {
    font-size: 22px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.articles__width {
    max-width: 49%;
}

.text__header--articles {
    font-size: 24px;
}

.articles__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 90px;
}

.articles__button button {
    background-color: var(--main-col-grey700);
    width: 180px;
    height: 46px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 166%;
    letter-spacing: 0.1em;
    color: var(--main-col-white);
    cursor: pointer;
    border: 0;
}

.sect__fourth {
    margin-bottom: 90px;
}

.sect__fourth__text--margin {
    margin-right: 20%;
}

.text__header--size {
    font-weight: 400;
    margin-top: 0px;
    max-width: 470px;
}

.text__bottom--size {
    font-size: 19px;
    line-height: 168%;
    max-width: 470px;
}

.text__bottom--p {
    margin-bottom: 30px;
}

.footer-bg {
    background-color: var(--footer-bg);
}

.footer__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 70px;
}

.footer__header {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 133%;
    letter-spacing: 0.05em;
    color: var(--footer-col-black);
}

.footer__links {
    text-decoration: none;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 166%;
    letter-spacing: 0.1em;
    color: var(--footer-col-black);
}

.footer__contacts {
    margin-top: 30px;
    margin-bottom: 15px;
}

.footer__social {
    display: inline-flex;
    justify-content: space-between;
    max-width: 269px;
}

.social__bg {
    position: relative;
    border: 1px solid var(--footer-col-grey);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    flex-wrap: wrap;
}

.social__svg {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 13px;
}

.social__svg--hov {
    opacity: 0;
}

.social__bg:hover {
    background-color: var(--footer-col-grey);
}

.social__bg:hover .social__svg--hov {
    opacity: 1;
}

.footer__bottom {
    display: flex;
    justify-content: center;
    margin-top: 26px;
    padding-bottom: 30px;
}

.footer__text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 166%;
    letter-spacing: 0.1em;
    color: var(--footer-col-black);
}

@media screen and (max-width:1150px) {
    .header__logo {
        margin-right: 25%;
    }

    .sect__fourth__text--margin {
        margin-right: 10px;
    }
}


@media screen and (max-width:1024px) {
    .header__logo {
        margin-right: 10%;
    }

    .text__header--size {
        font-size: 22px;
    }
}


@media screen and (max-width:912px) {

    .header__menu {
        display: none;
    }

    .header__search::after {
        content: url(../images/hamburger.png);
        margin-left: 40px;
    }

    .header {
        max-height: 60px;
    }

    .sect__second {
        margin-top: 70px;
        margin-bottom: 70px;
    }

    .article__text {
        margin-bottom: 0px;
    }

    .text__date {
        margin-bottom: 40px;
    }


    .text__bottom__end {
        display: none;
    }

    .sect__header {
        margin-top: 20px;
    }

    .sect__third {
        margin-bottom: 46px;
    }

    .articles__button {
        margin-top: 65px;
        margin-bottom: 70px;
    }

    .text__bottom--align {
        text-align: right;
    }

    .text__bottom--size {
        max-width: 100%;
        margin-top: 50px;
    }

    .sect__fourth {
        margin-bottom: 70px;
    }

    .footer__block {
        flex-direction: column;
    }

    .footer__cont {
        display: flex;
        align-self: center;
        flex-direction: column;
        justify-content: center;
        align-self: center;
    }

    .footer__contacts {
        margin-top: 20px;
    }

    .footer__contacts--align {
        display: flex;
        justify-content: center;
    }

    .footer__social {
        margin-top: 51px;
    }

    .footer__bottom {
        margin-top: 40px;
    }

}

@media screen and (max-width:768px) {
    .sect__articles--tablet {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    .articles__block {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .articles--margin {
        margin: 0;
    }

    .articles--width {
        max-width: 100%;
        margin-bottom: 30px;
    }

    .articles__img--order {
        order: 1;
    }

    .articles__text--width {
        margin-left: 20px;
    }

    .articles__text--order {
        order: 0;
        margin-left: 0px;
        margin-right: 20px;
    }

    .articles__img--width,
    .articles__text--width {
        max-width: 49%;
    }

    .article__text {
        margin-left: 20px;
    }

    .article__text--margin {
        margin-right: 20px;
        margin-left: 0px;
    }

    .sect__header {
        margin-top: 0px;
    }

    .articles__block {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }

    .articles__top--margin {
        margin-top: 0px;
    }

    .articles__width--margin-rght{
        margin-right: 10px;
    }

    .articles__width--margin-lft{
        margin-left: 10px;
    }

}

@media screen and (max-width:750px) {
    .text__header {
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 20px;
    }
    
    .text__date {
        margin-bottom: 20px;
    }

    .text__bottom__center {
        display: none;
    }
}


@media screen and (max-width:600px) {
    .text__header {
        margin-top: 30px;
        margin-bottom: 15px;
        font-size: 23px;
    }

    .article__block {
        flex-direction: column;
        width: 100%;
    }

    .article__text {
        order: 0;
        max-width: 100%;
        margin-left: 0px;
    }

    .text__width {
        max-width: 100%;
    }

    .article__img {
        order: 1;
        max-width: 100%;
    }

    .article__img--wid img {
        margin-top: 35px;
        max-width: 100%;
    }

    .text__bottom__center {
        display: flex;
    }
}


@media screen and (max-width:540px) {

    .articles__img--order {
        order: 0;
    }

    .articles__text--order {
        order: 1;
    }

    .articles__block {
        flex-direction: column;
        align-items: center;
    }

    .articles__text--order {
        margin: 0;
    }

    .sect__articles {
        flex-direction: column;
    }

    .articles__width--margin-rght {
        margin-right: 0px;
    }

    .articles__width--margin-lft {
        margin-left: 0px;
    }

    .articles__img--width, 
    .articles__text--width {
        max-width: 100%;
    }

    .articles__width,
    .articles__img--wth img {
        max-width: 100%;
    }

    .articles__width {
        margin-top: 50px;
    }

    .sect__header {
        margin-bottom: 0px;
    }

    .articles__top--margin {
        margin-top: 25px;
    }

    .sect__h4 {
        margin-bottom: 10px;
    }

    .articles__text--width {
        margin-left: 0px;
    }

}

@media screen and (max-width:420px) {

    .header__logo {
        margin-right: 0px;
    }

    .header__search::after {
        margin-left: 20px;
    }

    .sect__h2 {
        text-align: center;
    }


    .text__bottom__end {
        display: flex;
    }

    .arrow--pos {
        position: relative;
        bottom: 50px;
        left: 100px;
    }

    .sect__header {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 30px;
    }

    

    .articles--width {
        margin-bottom: 50px;
    }

    .sect__third {
        margin-bottom: 0px;
    }

    .articles__width,
    .articles__img--wth img {
        max-width: 390px;
    }

    .articles__width {
        margin-bottom: 50px;
    }

    .articles__button {
        margin-top: 0px;
    }

    .text__bottom--align {
        text-align: left;
    }

    .footer__block {
        padding-top: 50px;
    }

    .footer__header {
        font-size: 32px;
        line-height: 42px;
    }

    .footer__social {
        margin-top: 40px;
    }

    .footer__text {
        text-align: center;
        font-size: 16px;
    }
}

@media screen and (max-width:393px) {

    .article__text,
    .article__img--wid img,
    .articles__img--width img,
    .articles__width,
    .articles__img--wth img {
        max-width: 100%;
    }
}

@media screen and (max-width:280px) {

    .sect__first__img {
        display: none;
    }

    .sect__first::after {
        content: url(../images/First-screen_mobile_280.png);
        align-self: center;
    }

    .article__text {
        max-width: 260px;
    }

    .article__img--wid img {
        max-width: 260px;
    }

    .articles__img--width img {
        max-width: 260px;
    }

    .articles__width,
    .articles__img--wth img {
        max-width: 260px;
    }

    .footer__header {
        font-size: 25px;
        line-height: 30px;
    }
}