$col_gray-dark:#4F4F4F;
$col_purple-light:#9E8CFC;
$col_white: #FFFFFF;
$col_purple-dark:#392C72;
$col_purple-hov:  rgba(158, 140, 252, 0.7);
$col_gray-middle:#828282;
$col_green-light:#6FCF97;
$col_red:#EA5455;
$col_yellow:#F2C94C;

$font1: 'Montserrat';

$width1:1320px;
$width2:1120px;
$width3:900px;
$width4: 650px;
$width5: 495px;
$width6:330px;