*,
::after,
::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

.body__bg {
    background-image: url(/Lessons/project1/assets/images/bg.png);
    background: url(/Lessons/project1/assets/images/bg.svg);
    background-color: $coldarkblue;
    background-repeat: no-repeat, repeat;
    background-size: contain;
}


@-webkit-keyframes block {
    from {
        opacity: 0;
        -webkit-transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
                transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
    }

    to {
        opacity: 1;
        -webkit-transform: perspective(500px) translate3d(0, 0, 0);
                transform: perspective(500px) translate3d(0, 0, 0);
    }
}


@keyframes block {
    from {
        opacity: 0;
        -webkit-transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
                transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
    }

    to {
        opacity: 1;
        -webkit-transform: perspective(500px) translate3d(0, 0, 0);
                transform: perspective(500px) translate3d(0, 0, 0);
    }
}

@-webkit-keyframes pulse {
    0% {
      -webkit-transform: scale(0.95);
              transform: scale(0.95);
      -webkit-box-shadow: 0 0 0 0 $coltext_green-neon-dark-pulse;
              box-shadow: 0 0 0 0 $coltext_green-neon-dark-pulse;
    }
    
    70% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-box-shadow: 0 0 0 10px $coltext_green-neon-dark-pulse2;
              box-shadow: 0 0 0 10px $coltext_green-neon-dark-pulse2;
    }
    
    100% {
      -webkit-transform: scale(0.95);
              transform: scale(0.95);
      -webkit-box-shadow: 0 0 0 0 $coltext_green-neon-dark-pulse2;
              box-shadow: 0 0 0 0 $coltext_green-neon-dark-pulse2;
    }
}

@keyframes pulse {
    0% {
      -webkit-transform: scale(0.95);
              transform: scale(0.95);
      -webkit-box-shadow: 0 0 0 0 $coltext_green-neon-dark-pulse;
              box-shadow: 0 0 0 0 $coltext_green-neon-dark-pulse;
    }
    
    70% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-box-shadow: 0 0 0 10px $coltext_green-neon-dark-pulse2;
              box-shadow: 0 0 0 10px $coltext_green-neon-dark-pulse2;
    }
    
    100% {
      -webkit-transform: scale(0.95);
              transform: scale(0.95);
      -webkit-box-shadow: 0 0 0 0 $coltext_green-neon-dark-pulse2;
              box-shadow: 0 0 0 0 $coltext_green-neon-dark-pulse2;
    }
}