@mixin container ($width) {
    width: $width;
    max-width: 1170px;
    margin: 0 auto;
}

@mixin text($font, $weight, $size, $height, $color){
    font-family: $font;
    font-style: normal;
    font-weight: $weight;
    font-size: $size;
    line-height: $height;
    color: $color;
}

.header__bg {

}