@mixin container ($width) {
    width: $width;
    max-width: 1170px;
    margin: 0 auto;
}

@mixin text($font, $weight, $size, $height, $color){
    font-family: $font;
    font-style: normal;
    font-weight: $weight;
    font-size: $size;
    line-height: $height;
    color: $color;
}

.header__bg {
    
    background: url(/project1/assets/images/first-screen-image.png), linear-gradient(183.11deg, rgba(22, 25, 38, 0) 46.73%, #161926 63.21%);
    background-position: initial, right ;
    background-repeat: no-repeat;
   
    top: 0;
    width: 100%;
    z-index: 7;


}