#mobile_menu {
    display: none;

    &:checked {

        &+.header .header__nav {
            -webkit-transform: translateX(-100%);
            -ms-transform: translateX(-100%);
            transform: translateX(-100%);
        }

        &+.header .header__burger {
            border-color: transparent;

            &::before {
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }

            &::after {
                -webkit-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }
        }

        &~main .overlay {
            z-index: 2;
            opacity: 1;
        }
    }
}

.main__container {
    @include container (90%);

    .overlay {
        position: fixed;
        top: 79px;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        z-index: -1;
        background-color: $coloverlay;
    }
}

.header {
    height: 80px;
    background: $coldarkbluegrad;
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    margin-bottom: 150px;
    position: sticky;
    top: 0;
    z-index: 3;

    @include media ($width12) {
        position: fixed;
        width: 100%;
        background: $coldarkblue-op;
    }

    &__container {
        @include container (90%);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-top: 30px;
        height: 100%;

        @include media ($width12) {
            margin-top: 0;
        }
    }

    &__nav {
        @include media ($width12) {
            position: fixed;
            width: 60%;
            height: 1000%;
            margin: 0 auto;
            top: 80px;
            right: 0;
            left: 100%;
            bottom: 0;
            background: $coldarkblue-op;
            padding: 20px 0 20px 20px;
            z-index: 2;
            -webkit-transition-duration: 1s;
            -o-transition-duration: 1s;
            transition-duration: 1s;
            -webkit-transition-property: -webkit-transform;
            transition-property: -webkit-transform;
            -o-transition-property: transform;
            transition-property: transform;
            transition-property: transform, -webkit-transform;
            -webkit-transition-timing-function: ease;
            -o-transition-timing-function: ease;
            transition-timing-function: ease;
            -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
            transform: translateX(0);
        }

        @include media ($width142) {
            width: 100%;
            padding-left: 40px;
        }
    }

    &__menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;

        @include media ($width12) {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
        }
    }

    &__menu__item {
        @include text ($font1, 400, 14px, 24px, $colwhite);
        letter-spacing: 0.08em;
        margin-right: 30px;
        padding: 5px 0;

        &:nth-last-child(1) {
            margin-right: 0px;
        }
    }

    &__item--hov {
        border: none;
        background: $colgreen-grad;
        opacity: 0;
        height: 4px;
    }

    &__menu__item:hover &__item--hov {
        opacity: 0.3;
    }

    &__burger {
        display: none;
        position: relative;
        width: 30px;
        height: 14px;
        background: transparent;
        border-top: 2px solid;
        border-bottom: 2px solid;
        color: $colwhite;
        font-size: 0;
        -webkit-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: all;
        -o-transition-property: all;
        transition-property: all;
        -webkit-transition-timing-function: ease;
        -o-transition-timing-function: ease;
        transition-timing-function: ease;

        @include media ($width12) {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }

        &::after,
        &::before {
            content: "";
            display: block;
            width: 100%;
            height: 2px;
            background-color: $colwhite;
            position: absolute;
            left: 0;
            -webkit-transition-duration: 0.3s;
            -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-property: -webkit-transform;
            transition-property: -webkit-transform;
            -o-transition-property: transform;
            transition-property: transform;
            transition-property: transform, -webkit-transform;
            -webkit-transition-timing-function: ease;
            -o-transition-timing-function: ease;
            transition-timing-function: ease;
        }
    }

}

.sect1 {
    margin-top: 260px;
    margin-bottom: 150px;

    @include media ($width8) {
        margin-top: 200px;
        margin-bottom: 100px;
    }

    @include media ($width9) {
        margin-top: 100px;
    }

    @include media ($width12) {
        margin-top: 150px;
        margin-bottom: 75px;
    }

    &__h1 {
        @include text ($font2, 400, 44px, 52px, $colwhite);
        max-width: 523px;


        @include media ($width9) {
            font-size: 39px;
            line-height: 47px;
        }

        @include media ($width13) {
            max-width: 423px;
        }

        @include media ($width14) {
            max-width: 323px;
            font-size: 29px;
            line-height: 37px;
        }

        @include media ($width15) {
            font-size: 19px;
            line-height: 27px;
        }

        &--col {
            color: $coltext-blue;
        }
    }

    &__text {
        @include text ($font1, 300, 18px, 26px, $colwhite);
        opacity: 0.8;
        margin-top: 20px;
        margin-bottom: 50px;
        max-width: 439px;
        overflow: hidden;

        @include media ($width13) {
            max-width: 339px;
        }

        @include media ($width14) {
            font-size: 14px;
            line-height: 22px;
            max-width: 239px;
        }

        @include media ($width15) {
            font-size: 10px;
            line-height: 18px;
        }

    }

    &__button {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    &__link {
        @include text ($font1, 700, 20px, 20px, $coltext_green-neon);
        letter-spacing: 0.08em;
        text-transform: uppercase;

        @include media ($width142) {
            font-size: 16px;
            line-height: 16px;
        }

        &__bg {
            display: block;
            background-color: $coltext_green-neon_op;
            width: 95%;
            height: 13px;
            position: relative;
            left: 10px;
            top: -30%;
            -webkit-animation: pulse 2s infinite;
            animation: pulse 2s infinite;
        }


        &:hover {
            color: $coltext_green-neon-dark;
        }

        &:hover &__bg {
            background-color: $coltext_green-neon-dark-op;
        }
    }

}

.sect2 {
    padding-bottom: 120px;

    @include media ($width131) {
        padding-bottom: 60px;
    }


    &__container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: relative;
    }

    &__img {
        max-width: 49%;

        & img {
            width: 100%;
        }
    }

    &__block2 {
        background-color: $coldarkblue-op;
        max-width: 70%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        z-index: 1;
        position: absolute;
        top: 6.7%;
        bottom: 6.7%;
        left: 34%;
        padding: 45px 0;

        @include media ($width3) {
            padding: 40px 0;
        }


        @include media ($width4) {
            padding: 30px 0;
        }

        @include media ($width6) {
            padding: 25px 0;
        }


        @include media ($width7) {
            padding: 15px 0;
        }


        @include media ($width81) {
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
        }

        @include media ($width111) {
            left: 24%;
        }

        @include media ($width131) {
            left: 14%;
            max-width: 80%;
        }

        @include media ($width141) {
            left: 5%;
            max-width: 90%;
        }

        @include media ($width142) {
            top: 2%;
            bottom: 5%;
        }

        @include media ($width143) {
            left: 1%;
            max-width: 99%;
        }

        @include media ($width144) {
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        }

        &__lft {
            margin: 0 56px;

            @include media ($width81) {
                margin: 0 36px;
            }

            @include media ($width13) {
                margin: 0 16px;
            }


            @include media ($width144) {
                display: none;
            }
        }

        &__rgt {
            max-width: 52%;

            @include media ($width81) {
                & br {
                    display: none;
                }
            }

            @include media ($width111) {
                max-width: 55%;
            }


            @include media ($width144) {
                padding: 5px 20px;
                max-width: 100%;
            }
        }
    }

    &__figures {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-animation: block 2s ease-out 2.5s both;
        animation: block 2s ease-out 2.5s both;
    }

    &__title {
        @include text ($font2, 400, 68px, 72px, $colwhite);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        @include media ($width1) {
            font-size: 60px;
            line-height: 64px;
        }

        @include media ($width3) {
            font-size: 50px;
            line-height: 54px;
        }

        @include media ($width6) {
            font-size: 40px;
            line-height: 44px;
        }

        @include media ($width71) {
            font-size: 30px;
            line-height: 34px;
        }

        @include media ($width141) {
            font-size: 20px;
            line-height: 24px;
        }



        &--icon {
            @include text ($font2, 400, 40px, 50px, $colwhite);
            @include text ($font2, 400, 40px, 50px, $colwhite);
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: end;
            -ms-flex-align: end;
            align-items: end;
            padding-right: 10px;

            @include media ($width71) {
                font-size: 30px;
                line-height: 40px;
            }

            @include media ($width71) {
                font-size: 20px;
                line-height: 30px;
            }

            @include media ($width141) {
                font-size: 14px;
                line-height: 18px;
            }
        }
    }


    &__text {
        @include text ($font1, 300, 18px, 26px, $colwhite);
        opacity: 0.8;
        margin-top: 12px;
        margin-bottom: 40px;

        @include media ($width71) {
            font-size: 14px;
            line-height: 22px;

            @include media ($width12) {
                margin-bottom: 20px;
            }

            @include media ($width13) {
                margin-bottom: 10px;
            }

            @include media ($width142) {
                margin-bottom: 5px;
                margin-top: 5px;
            }
        }

        &--marg {
            margin-bottom: 0px;
        }
    }

    &__divider {
        display: block;
        width: 100px;
        height: 1px;
        border-color: $colgreen-spring;
        margin-bottom: 40px;

        @include media ($width7) {
            margin-bottom: 20px;
        }

        @include media ($width12) {
            margin-bottom: 20px;
        }


        @include media ($width13) {
            margin-bottom: 10px;
        }
    }

    &__text__rght {
        @extend .sect2__text;
        margin: 0;

        @include media ($width7) {
            font-size: 16px;
            line-height: 22px;
        }

        @include media ($width81) {
            font-size: 14px;
            line-height: 20px;
        }

        @include media ($width141) {
            font-size: 12px;
            line-height: 18px;
        }
    }

    &__text__rght--marg {
        @include media ($width81) {
            margin-bottom: 20px;
        }

        @include media ($width143) {
            margin-bottom: 10px;
        }

    }

    &__text__rght--disp {
        @include media ($width13) {
            display: none;
        }
    }

    &__text__rght--end {
        @include media ($width16) {
            display: none;
        }

    }

    &__button {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: 50px;

        @include media ($width81) {
            margin-top: 30px;
        }

        @include media ($width142) {
            margin-top: 10px;
        }

    }

    &__link {
        @extend .sect1__link;

        @include media ($width142) {
            font-size: 16px;
            line-height: 16px;
        }

        &__bg {
            @extend .sect1__link__bg;

        }
    }

}

.sect3 {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;


    @include media ($width142) {
        grid-template-columns: 1fr;
    }

    &__block {
        border-top: 1px solid $colgray-dark;
        padding: 50px 35px 52px;

        @include media ($width111) {
            padding: 40px 25px 42px;
        }

        @include media ($width13) {
            padding: 20px 5px 22px;
        }

    }

    &__block__h2 {
        @extend .sect1__h1;
        font-size: 40px;
        line-height: 48px;
        margin-bottom: 30px;
        max-width: 500px;

        @include media ($width7) {
            font-size: 30px;
            line-height: 38px;
            margin-bottom: 10px;
            max-width: 400px;
        }

        @include media ($width10) {
            font-size: 20px;
            line-height: 28px;
        }

        @include media ($width141) {
            font-size: 16px;
            line-height: 22px;
        }

        &--col {
            @extend .sect1__h1--col;
        }
    }

    &__block__text {
        @extend .sect2__text;
        max-width: 500px;
        overflow: hidden;
        text-overflow: ellipsis;

        @include media ($width10) {
            margin-bottom: 10px;
        }

        @include media ($width141) {
            font-size: 12px;
            line-height: 20px;
        }
    }
}

.sect4 {
    margin-bottom: 120px;

    @include media ($width131) {
        margin-bottom: 60px;
    }

    &__bg {
        position: relative;
        width: 100%;

        & img {
            max-width: 100%;
            height: 400px;

            @include media ($width7) {
                height: 350px;
            }

            @include media ($width12) {
                height: 300px;
            }

            @include media ($width142) {
                height: 250px;
            }

            @include media ($width144) {
                height: 200px;
            }

            @include media ($width144) {
                height: 150px;
            }
        }

        & svg {
            position: absolute;
            left: 101px;
            top: 72px;

            @include media ($width8) {
                left: 81px;
                top: 62px;
            }

            @include media ($width12) {
                left: 61px;
            }

            @include media ($width14) {
                left: 41px;
            }

            @include media ($width142) {
                left: 21px;
            }

            @include media ($width144) {
                top: 22px;
                width: 82px;
                height: 64px;
            }

            @include media ($width15) {
                top: 10px;
                left: 10px;
                width: 62px;
                height: 44px;
            }

        }

        &__text {
            @include text ($font1, 400, 32px, 46px, $colwhite);
            letter-spacing: 0.06em;
            position: absolute;
            margin-left: 160px;
            top: 100px;
            max-width: 710px;

            @include media ($width6) {
                font-size: 25px;
                line-height: 39px;
            }

            @include media ($width7) {
                font-size: 20px;
                line-height: 34px;
            }

            @include media ($width8) {
                margin-left: 140px;
                top: 90px;
                max-width: 510px;
            }

            @include media ($width12) {
                font-size: 16px;
                line-height: 24px;
                margin-left: 120px;
                top: 95px;
                max-width: 410px;
            }

            @include media ($width14) {
                margin-left: 100px;
            }

            @include media ($width142) {
                font-size: 12px;
                line-height: 20px;
                margin-left: 80px;
                top: 100px;
            }

            @include media ($width144) {
                top: 40px;
                margin-left: 70px;
            }

            @include media ($width15) {
                margin-left: 50px;
                top: 30px;
            }

            @include media ($width17) {
                font-size: 10px;
                line-height: 16px;
            }

            &--sign {
                @include text ($font2, 400, 20px, 20px, $colwhite);
                letter-spacing: 0.08em;
                padding-top: 40px;
                padding-bottom: 100px;

                @include media ($width7) {
                    padding-bottom: 70px;
                }

                @include media ($width12) {
                    font-size: 16px;
                    line-height: 16px;
                }

                @include media ($width14) {
                    padding-bottom: 50px;
                }

                @include media ($width142) {
                    font-size: 12px;
                    line-height: 12px;
                    padding-bottom: 20px;
                    padding-top: 20px;
                }

                @include media ($width15) {
                    padding-bottom: 10px;
                    padding-top: 10px;
                }

                @include media ($width17) {
                    font-size: 10px;
                    line-height: 10px;
                }
            }
        }
    }
}

#video {
    display: none;

    &:checked {

        &~.sect5 .sect5__overlay img {
            display: none;
        }

        &~.sect5 .sect5__overlay svg,
        &~.sect5 .sect5__overlay span {
            opacity: 0.01;
        }

        &~.sect5 .sect5__overlay iframe {
            opacity: 1;
        }
    }
}

.sect5 {
    margin: 0 8%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 120px;
    max-width: 970px;


    @include media ($width131) {
        margin: 0;
        margin-bottom: 60px;
    }

    @include media ($width15) {
        margin-bottom: 30px;
    }

    &__wrapper {
        border: 1px solid $colgray-dark;
        border-radius: 32px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 31px 0;



        @include media ($width6) {
            & iframe {
                max-width: 90%;
                height: 500px;
            }
        }

        @include media ($width81) {
            & iframe {
                height: 450px;
            }
        }

        @include media ($width10) {
            & iframe {
                height: 400px;
            }
        }

        @include media ($width11) {
            & iframe {
                height: 350px;
            }
        }

        @include media ($width12) {
            & iframe {
                height: 300px;
            }
        }

        @include media ($width141) {
            & iframe {
                height: 250px;
            }
            padding: 25px 20px;
        }

        @include media ($width142) {
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            padding: 21px 15px;

            & iframe {
                height: 200px;
            }

            justify-content: center;
        }


        @include media ($width144) {
            & iframe {
                height: 150px;
            }
        }

        @include media ($width16) {
            padding: 10px;

        }

    }

    &__circle__little {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        border: 1px solid $colgray-dark;
        border-radius: 50%;
        width: 13px;
        height: 13px;
        margin: 0 9px;

        @include media ($width12) {
            width: 8px;
            height: 8px;
        }

        @include media ($width141) {
            display: none;
        }
    }

    &__circle__big {
        @extend .sect5__circle__little;
        width: 35px;
        height: 35px;
        margin-left: 21px;
        margin-right: 14px;

        @include media ($width6) {
            width: 29px;
            height: 29px;
        }

        @include media ($width12) {
            width: 25px;
            height: 25px;
            margin-left: 10px;
            margin-right: 10px;
        }
    }

    &:hover &__wrapper,
    &:hover &__circle__little,
    &:hover &__circle__big {
        border-color: $colwhite;
    }

    &__circle__play {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        border: 1px solid $coltext-blue;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        position: absolute;
        background-color: $coltext-blue;
        opacity: 0.2;

        @include media ($width31){
            width: 100px;
            height: 100px;
        }

        @include media ($width8){
            width: 80px;
            height: 80px;
        }

        @include media ($width141){
            width: 60px;
            height: 60px;
        }

        @include media ($width142){
            width: 50px;
            height: 50px;
        }
    }

    &__overlay {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 90%;
        
        & img {
            position: absolute;
            z-index: 2;
            background-color: $coldarkblue;
            border-radius: 8px;
            opacity: 0.2;
            width: 100%;
        }

        & iframe {
            opacity: 0;
        }

        & svg {
            position: absolute;

            @include media ($width31){
                width: 29px;
                height: 31px;
            }

            @include media ($width8){
                width: 25px;
                height: 26px;
            }

            @include media ($width141){
                width: 21px;
                height: 22px;
            }

            @include media ($width142){
                width: 19px;
                height: 20px;
            }
        }
    }

    &:hover &__circle__play,
    &:hover &__overlay img {
        opacity: 0.4;
    }

    &__h2 {
        @extend .sect3__block__h2;
        margin-top: 50px;
        margin-bottom: 20px;
        max-width: 100%;

        &--col {
            @extend .sect3__block__h2--col;
        }
    }

    &__text__end {
        @extend .sect3__block__text;
        margin: 0;
        max-width: 897px;
        letter-spacing: 0.04em;
    }

}


.sect6 {
    margin-bottom: 120px;

    @include media ($width131) {
        margin-bottom: 60px;
    }

    &__block {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: relative;

        &__img {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            max-width: 51%;

            & img {
                width: 100%;
            }

            @include media ($width144) {
                display: none;
            }
        }
    }

    &__block2 {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 5px 1fr;
        grid-template-columns: repeat(2, 1fr);
        -webkit-column-gap: 100px;
        -moz-column-gap: 100px;
        column-gap: 100px;
        row-gap: 70px;
        background-color: $coldarkblue-op;
        z-index: 1;
        position: absolute;
        top: 8.33%;
        bottom: 8.33%;
        left: 34%;
        max-height: 450px;
        padding: 75px 0px 75px 70px;

        @include media ($width1) {
            -webkit-column-gap: 70px;
            -moz-column-gap: 70px;
            column-gap: 70px;
        }

        @include media ($width2) {
            -webkit-column-gap: 50px;
            -moz-column-gap: 50px;
            column-gap: 50px;
            row-gap: 50px;
            padding: 65px 0px 65px 60px;
        }

        @include media ($width3) {
            -webkit-column-gap: 30px;
            -moz-column-gap: 30px;
            column-gap: 30px;
            row-gap: 30px;
            padding: 55px 0px 55px 50px;
        }

        @include media ($width4) {
            -webkit-column-gap: 8px;
            -moz-column-gap: 8px;
            column-gap: 8px;
            row-gap: 8px;
            padding: 45px 0px 45px 35px;
        }

        column-gap: 8px;

        @include media ($width6) {
            -webkit-column-gap: 5px;
            -moz-column-gap: 5px;
            column-gap: 5px;
            row-gap: 5px;
            padding: 35px 0px 35px 30px;
        }

        @include media ($width61) {
            left: 25%;
            padding: 30px 0px 30px 25px;
            top: 5.33%;
            bottom: 5.33%;
        }

        @include media ($width80) {
            left: 15%;
            padding: 25px 0px 25px 20px;
            top: 3.33%;
            bottom: 3.33%;
        }

        @include media ($width11) {
            left: 10%;
            padding: 15px 0px 15px 10px;

        }

        @include media ($width141) {
            left: 5%;
            padding: 10px 0px 10px 10px;
            top: 1.33%;
            bottom: 1.33%;
        }

        @include media ($width143) {
            left: 0;
            padding: 5px 0px 5px 5px;
            top: 0;
            bottom: 0;
        }

        @include media ($width144) {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            position: relative;
            width: 100%;
            margin-bottom: 20px;
        }

        &__item {
            max-width: 300px;
        }

        &__h4 {
            @include text ($font2, 400, 24px, 48px, $colwhite);

            @include media ($width8) {
                font-size: 20px;
                line-height: 40px;
            }

            @include media ($width12) {
                font-size: 15px;
                line-height: 30px;
            }
        }

        &__text {
            @include text ($font1, 300, 18px, 26px, $colwhite);
            opacity: 0.8;

            @include media ($width8) {
                font-size: 14px;
                line-height: 22px;
            }

            @include media ($width12) {
                font-size: 12px;
                line-height: 20px;
            }

            &--marg {
                margin-bottom: 18px;
                margin-top: 15px;

                @include media ($width5) {
                    margin: 5px 0;
                }
            }
        }
    }

    &__button {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        border: 1px solid $colgray-dark;
        -ms-flex-item-align: baseline;
        align-self: baseline;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-animation: pulse 2s infinite;
        animation: pulse 2s infinite;

        &:hover {
            border-color: $coltext_green-neon-dark;
        }

        @include media ($width144) {
            margin-top: 10px;
        }
    }

    &__link {
        @extend .sect1__link;
        padding: 33px 91px;

        @include media ($width31) {
            padding: 33px 89px;
        }

        @include media ($width12) {
            padding: 30px 80px;
        }

        @include media ($width13) {
            padding: 28px 70px;
        }

        @include media ($width13) {
            padding: 25px 65px;
        }

        @include media ($width140) {
            padding: 25px 55px;
        }

        @include media ($width141) {
            padding: 20px 50px;
            font-size: 16px;
            line-height: 16px;
        }

        @include media ($width142) {
            padding: 20px 40px;
        }

        @include media ($width143) {
            padding: 20px 30px;
            font-size: 14px;
            line-height: 14px;
        }

        &__bg {
            display: block;
            background-color: $coltext_green-neon_op;
            width: 95%;
            height: 13px;
            position: relative;
            left: 10px;
            top: -10px;
            -webkit-animation: none;
            animation: none;
        }
    }
}

.sect7 {
    margin-bottom: 100px;

    @include media ($width131) {
        margin-bottom: 50px;
    }

    &__h3 {
        @extend .sect3__block__h2;
        margin-bottom: 0px;
        max-width: 400px;

        &--col {
            @extend .sect3__block__h2--col;
        }
    }

    &__text {
        @extend .sect2__text;
        margin-top: 20px;
        margin-bottom: 50px;
        max-width: 400px;
    }

    &__block {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;

        @include media ($width14) {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }

        &__item {
            max-width: 32%;
            position: relative;

            @include media ($width14) {
                max-width: 100%;
                margin-bottom: 30px;
            }

            & img {
                width: 100%;
            }

            &--marg {
                margin-left: 30px;
                margin-right: 30px;

                @include media ($width111) {
                    margin-left: 10px;
                    margin-right: 10px;
                }
            }
        }

        &__img {
            &--ovrl {
                position: absolute;
                left: 0;
            }
        }

        &__text {
            position: absolute;
            top: 0;
            padding: 30px 40px;
            width: 100%;
            height: 100%;

            @include media ($width2) {
                -webkit-transition: -webkit-transform 2s;
                transition: -webkit-transform 2s;
                -o-transition: transform 2s;
                transition: transform 2s;
                transition: transform 2s, -webkit-transform 2s;

                &:hover {
                    -webkit-transform: scale(1.1);
                    -ms-transform: scale(1.1);
                    transform: scale(1.1);
                }
            }

            @include media ($width3) {
                padding: 25px 35px;
            }

            @include media ($width31) {
                padding: 20px 30px;

                &:hover {
                    -webkit-transform: scale(1.2);
                    -ms-transform: scale(1.2);
                    transform: scale(1.2);
                }
            }

            @include media ($width7) {
                -webkit-transition: none;
                -o-transition: none;
                transition: none;

                &:hover {
                    -webkit-transform: scale(1);
                    -ms-transform: scale(1);
                    transform: scale(1);
                }
            }

            @include media ($width9) {
                padding: 10px 15px;
            }

            @include media ($width13) {
                padding: 5px 10px;
            }


            .text {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
                height: 100%;

                @include media ($width14) {
                    -webkit-box-pack: space-evenly;
                    -ms-flex-pack: space-evenly;
                    justify-content: space-evenly;
                }

                &__top {
                    @include text ($font1, 400, 16px, 26px, $colwhite);
                    opacity: 0.8;
                    margin-bottom: 26px;
                    overflow: hidden;

                    @include media ($width2) {
                        font-size: 14px;
                        line-height: 24px;
                    }

                    @include media ($width31) {
                        font-size: 12px;
                        line-height: 22px;
                    }

                    @include media ($width7) {
                        overflow: scroll;
                    }
                }

                &__bottom {
                    @include text ($font2, 400, 20px, 20px, $colwhite);
                    letter-spacing: 0.08em;


                    @include media ($width31) {
                        font-size: 18px;
                        line-height: 18px;
                    }

                    @include media ($width9) {
                        font-size: 16px;
                        line-height: 16px;
                    }

                    @include media ($width9) {
                        font-size: 14px;
                        line-height: 14px;
                    }
                }
            }
        }
    }
}

.footer__container {
    @include container (90%);
}

.footer {
    border-top: 1px solid $colgray-dark;

    &__block1 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-top: 60px;
        border-bottom: 1px solid $colgray-dark;
        padding-bottom: 100px;

        @include media ($width9) {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            padding-bottom: 50px;
        }

        @include media ($width142) {
            margin-top: 30px;
        }

        &--left {
            max-width: 50%;

            @include media ($width9) {
                max-width: 100%;
            }
        }
    }

    &__h2 {
        @include text ($font2, 400, 40px, 39px, $colwhite);
        margin-bottom: 29px;
        margin-top: 21px;


        @include media ($width8) {
            font-size: 29px;
            line-height: 29px;
        }

        @include media ($width142) {
            font-size: 24px;
            line-height: 24px;
        }

        &--col {
            color: $coltext-blue;
        }
    }

    &__text {
        @include text ($font1, 300, 18px, 26px, $colwhite);
        opacity: 0.8;

        @include media ($width8) {
            font-size: 14px;
            line-height: 22px;
        }

        @include media ($width142) {
            font-size: 12px;
            line-height: 20px;
        }
    }

    .form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-left: 20px;


        @include media ($width9) {
            margin-top: 30px;
            margin-left: 0px;
        }

        & input[type="text"],
        & input[type="email"],
        & textarea {
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            outline: none;
            display: block;
            padding-bottom: 12px;
            border: none;
            border-bottom: 1px solid $colwhite-op;
            background: transparent;
            margin-bottom: 40px;
            height: 32px;
            width: 470px;
            @include text ($font2, 400, 18px, 20px, $colwhite);
            letter-spacing: 0.08em;
            font-style: italic;

            @include media ($width141) {
                width: 400px;
            }

            @include media ($width142) {
                font-size: 14px;
                line-height: 16px;
                width: 350px;
            }

            @include media ($width144) {
                width: 320px;
            }

            @include media ($width15) {
                width: 270px;
            }

            @include media ($width16) {
                width: 240px;
            }

        }

        & textarea {
            resize: none;
            overflow: hidden;
        }

        & input[type="submit"] {
            border: none;
            background: transparent;
        }

        &__button {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;

            &__item {
                @extend .sect1__link;
                position: relative;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                cursor: pointer;
            }

            &__bg {
                @extend .sect1__link__bg;
                position: absolute;
                top: 50%;
                cursor: pointer;
                -webkit-animation: pulse 2s infinite;
                animation: pulse 2s infinite;
            }
        }
    }

    &__block2 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 30px 0;

        @include media ($width141) {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        }

        &__text {
            @include text ($font1, 300, 14px, 26px, $colwhite);
            opacity: 0.6;
        }

        &__link {
            @include text ($font1, 400, 14px, 24px, $colwhite);
            letter-spacing: 0.08em;
            opacity: 1;

            &--padd {
                padding-left: 12px;

                @include media ($width111) {
                    padding-left: 0px;
                }

                @include media ($width141) {
                    padding-left: 12px;
                }
            }

            &--marg {
                margin-right: 32px;
            }
        }

        &__hov {
            &--marg {
                margin: 0 20px;
            }
        }

        &__hov:hover &__link {
            color: $coltext_green-neon;
        }

        &__end {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
        }
    }

}