$coldarkblue:#161926;
$coldarkblue-op:rgb(22, 25, 38, 0.9);
$colwhite: #FFFFFF;
$colwhite-op: rgb(255, 255, 255, 0.1);
$coltext_linear-green: #53F3CD;
$coltext-blue: #689FF2;
$coltext_green-neon: #53F3CD;
$coltext_green-neon_op: rgb(83, 243, 206, 0.3);
$coltext_green-neon-dark:#02E0AB;
$coltext_green-neon-dark-pulse:rgb(2, 224, 171, 0.7);
$coltext_green-neon-dark-pulse2:rgb(58, 188, 158, 0);
$coltext_green-neon-dark-op:rgb(2, 224, 171, 0.3);
$colgreen-spring: #85BBB1;
$colgray-dark:#515773;


$font1: 'Lato';
$font2:'Playfair Display';