$coldarkblue:#161926;
$coldarkbluegrad:linear-gradient(270deg, rgba(22, 25, 38, 0.5) 0%, rgba(22, 25, 38, 0) 24.1%, rgba(22, 25, 38, 0) 47.19%), rgba(22, 25, 38, 0.02);
$coldarkblue-op:rgb(22, 25, 38, 0.9);
$coloverlay:rgb(22, 25, 38, 0.7);
$colwhite: #FFFFFF;
$colwhite-op: rgb(255, 255, 255, 0.1);
$coltext_linear-green: #53F3CD;
$coltext-blue: #689FF2;
$coltext_green-neon: #53F3CD;
$coltext_green-neon_op: rgb(83, 243, 206, 0.3);
$coltext_green-neon-dark:#02E0AB;
$coltext_green-neon-dark-pulse:rgb(2, 224, 171, 0.7);
$coltext_green-neon-dark-pulse2:rgb(58, 188, 158, 0);
$coltext_green-neon-dark-op:rgb(2, 224, 171, 0.3);
$colgreen-spring: #85BBB1;
$colgray-dark:#515773;
$colgreen-grad: linear-gradient(96.73deg, $coltext_linear-green 6.73%, rgba(83, 243, 205, 0) 116.9%);


$font1: 'Lato';
$font2:'Playfair Display';

$width1: 1300px;
$width2: 1252px;
$width3: 1204px;
$width31:1141px;
$width4: 1128px;
$width5: 1113px;
$width6: 1090px;
$width61: 1052px;
$width7: 1020px;
$width71:986px;
$width8: 970px;
$width80: 920px;
$width81:900px;
$width9: 870px;
$width10: 840px;
$width11: 810px;
$width111: 785px;
$width12: 750px;
$width13: 703px;
$width131: 717px;
$width14: 660px;
$width140: 630px;
$width141: 580px;
$width142: 471px;
$width143: 450px;
$width144: 410px;
$width15: 350px;
$width16: 330px;
$width17: 285px;




