$colpurple: #9789F9;
$colwhite: #FFFFFF;
$colgrey: #F5F3F9;
$colgrey1: #A9A9A9;
$colblack: #181818;
$colblack1:#000000;
$colblue-light:#6FCFFB;
$colred:#FD8D7B;

$font1: 'bebas-neue-by-fontfabric';
$font2: 'Roboto';

$width1: 1300px;
$width2: 970px;
$width3: 690px;
$width4: 530px;
$width5: 400px;
$width6: 310px;