$colpurple: #9789F9;
$colwhite: #FFFFFF;
$colgrey: #F5F3F9;
$colgrey1: #A9A9A9;
$colblack: #181818;
$colblack1:#000000;
$colblue-light:#6FCFFB;
$colred:#FD8D7B;

$font1: 'bebas-neue-by-fontfabric';
$font2: 'Roboto'
