.header {
    &__container {
        @extend container !optional; 
    }

    &__h2 {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        text-transform: uppercase;
        color: $colgrey898F8F;
    }
}