$colgrey898F8F: #898F8F;
$colgoldFFCC00: #FFCC00;
$colgrey666666: #666666;
$colgreyCCCCCC: #CCCCCC;
$colgrey333333: #333333;
$colwhite: white;

$FontRaleway: 'Raleway';
$FontRoboto: 'Roboto';

$width1: 1290px;
$width2: 1140px;
$width3: 1060px;
$width4: 990px;
$width5: 840px;
$width6: 700px;
$width7: 500px;
$width8: 330px;
$width9: 280px;
